<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Buy_Eat -->
      <package
            uri="www.Buy_Eat.com"
            class="Buy_Eat.Buy_EatPackage"
            genModel="Project_Transformation/Buy_Eat.genmodel"/>
   </extension>

</plugin>
